form {
	width: 45%;
	margin-left: 30%;
	margin-top: 5%;
}

fieldset {
	border: 1px dashed darkred;
	padding-bottom: 2em;
	padding-top: 1em;
	border-radius: 10px;
}

legend {
	text-align: center;
}

#form {
	margin-left: 5%;
	margin-right: 5%;
}

label {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.3em;
}

[type='submit']{
	margin-top: 1.5em;
}
